
#current-temp {
    color: yellow;
}

.center-txt {
    text-align: center;
}

.city {
    margin-top: 0px;
    padding-top: 20px;
}

.search-city {
    display: grid;
    grid-template-columns: 25% 25% 50% auto auto auto;
    padding-top: 15px;
}

.btn:hover {
    background-color: #A5F300;
}

.current-weather {
    margin: -15px 0 0 0;
}

.today-icon {
    width: 100px;
    margin: -30px 0 -40px 0;
}

.container {
    // display: grid;
    // grid-template-columns: 50% auto;
}

.container-forcast {
    display: grid;
    grid-template-columns: 25% 25% 25% 25% auto auto auto auto;
    // grid-gap: 1.333%;
    padding: 0px 10px 10px 10px;
}

.col {
    padding: .4em 1.3em;
}

.col-border {
    border-width: 1px;
    border-color: #2885C4;
    border-style: solid;
    margin: 0px 10px 10px 10px;
}

.color-dark {
    background: #2885C4;

}

.color-light {
    background: #57B3F1;
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}

input.btn, button.btn {
    border: 0;
    display: block;
    background-color: #A5F883;
    color: #003A61;
    margin-bottom: 1em;
    padding: 1em 3em;
    cursor: pointer;
}

.btn:hover {
    background-color: #A5F300;
}

a:hover {
    color: yellow;
}

.all-caps {
    text-transform: uppercase;
}

.forecast-img {
    margin-bottom: -20px;
}
